<ion-header>
  <ion-toolbar>
    <ion-title>Form Facture</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <!-- --------------------------------SECTION FORM FACTURE----------------------------------- -->

  <form [formGroup]="formFacture" (ngSubmit)="submitForm()" novalidate>
    <!--                               INPUT TYPE                                            -->
    <ion-item class="m-3" fill="solid" counter="true">
      <ion-select
        formControlName="type"
        interface="popover"
        placeholder="Selectionné type"
      >
        <ion-select-option [value]="enumTypeFacture.eau">Eau</ion-select-option>
        <ion-select-option [value]="enumTypeFacture.electricite"
          >Electricité</ion-select-option
        >
        <ion-select-option [value]="enumTypeFacture.location"
          >Location</ion-select-option
        >
        <ion-select-option [value]="enumTypeFacture.salaire"
          >Salaire</ion-select-option
        >
      </ion-select>
    </ion-item>

    <!--                               INPUT MONTANT                                            -->
    <ion-item class="m-3" fill="solid" counter="true">
      <ion-label position="floating">Montant</ion-label>
      <ion-input
        maxlength="9"
        type="text"
        formControlName="montant"
      ></ion-input>
      <ion-note slot="helper">Entrez le montant</ion-note>
      <ion-note slot="error">montant invalid</ion-note>
    </ion-item>

    <!--                               BTN SAVE                                              -->

    <ion-row>
      <ion-col>
        <ion-button
          fill="outline"
          [disabled]="formFacture.invalid"
          type="submit"
          >Enregistrer</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
