<ion-card>
  <ion-card-content>
    <ion-card-title>
      <b>Date :</b> {{ dmdDepense.createdAt | date : "shortDate" }}
    </ion-card-title>
    <hr />
    <div class="row">
      <div class="col-6">
        <b>Montant </b>
      </div>
      <div class="col-6">
        <p class="card-text">{{ dmdDepense.montant }} Fcfa</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b>Valider </b>
      </div>
      <div class="col-6">
        <p class="card-text">
          <span *ngIf="dmdDepense.valider">Oui</span>
          <span *ngIf="!dmdDepense.valider">Non</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b>Rejeter </b>
      </div>
      <div class="col-6">
        <p class="card-text">
          <span *ngIf="dmdDepense.rejeter">Oui</span>
          <span *ngIf="!dmdDepense.rejeter">Non</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b>Déscription </b>
      </div>
      <div class="col-6">
        <p class="card-text">{{ dmdDepense.description }}</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
