<ion-header>
  <ion-toolbar>
    <ion-row *ngIf="admin$ | async as admin">
      <ion-col>
        <ion-title> {{ admin.prenom }} {{ admin.nom }}</ion-title>
      </ion-col>
    </ion-row>

    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <div class="container" *ngIf="admin$ | async as admin">
    <!--                                 LISTE                                  -->
    <ion-list lines="inset">
      <ion-item-sliding *ngFor="let employer of admin.Employes">
        <!-- *************************************** -->
        <ion-item>
          <main class="user">
            <article class="user__profile">
              <ion-icon class="user__picture" name="person-outline"></ion-icon>

              <span class="user__name"
                >{{ employer.prenom }} {{ employer.nom }}</span
              >
            </article>
          </main>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>

<ion-footer [translucent]="true" *ngIf="admin$ | async as admin">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
