<ion-header>
  <ion-toolbar>
    <ion-title>Details Demande</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <!-- --------------------------------SECTION CARD DEMANDE----------------------------------- -->

  <h1>DETAILS DEMANDE</h1>

  <ion-card *ngIf="dmdDepense$ | async as dmdDepense">
    <ion-avatar>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-card-content>
      <ion-card-title>
        <b>Date :</b> {{ dmdDepense.createdAt }}
      </ion-card-title>
      <hr />
      <p class="card-text"><b>Montant :</b> {{ dmdDepense.montant }} Fcfa</p>
      <p class="card-text">
        <b>Valider :</b> <span *ngIf="dmdDepense.valider">Oui</span>
        <span *ngIf="!dmdDepense.valider">Non</span>
      </p>
      <p class="card-text">
        <b>Rejeter :</b> <span *ngIf="dmdDepense.rejeter">Oui</span>
        <span *ngIf="!dmdDepense.rejeter">Non</span>
      </p>
      <p class="card-text"><b>Description :</b> {{ dmdDepense.description }}</p>
      <hr />
      <p class="card-text">
        <b>Employer :</b>{{ dmdDepense.Employe?.prenom }}
        {{ dmdDepense.Employe?.nom }}
      </p>
      <p class="card-text">
        <b>Numero employer :</b>{{ dmdDepense.Employe?.numero }}
      </p>
      <hr />
      <p class="card-text">
        <b>Admin :</b>{{ dmdDepense.Admin?.prenom }} {{ dmdDepense.Admin?.nom }}
      </p>
      <p class="card-text">
        <b>Numero admin :</b>{{ dmdDepense.Admin?.numero }}
      </p>
    </ion-card-content>
    <hr />

    <ion-row no-padding>
      <ion-col>
        <ion-button (click)="onNavUpdate(dmdDepense.id)" fill="outline"
          >Modifier
          <ion-icon slot="end" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col *ngIf="!dmdDepense.valider && !dmdDepense.rejeter">
        <ion-item>
          <ion-select
            placeholder="Votre avis"
            (ionChange)="handleChange($event, dmdDepense)"
          >
            <ion-select-option value="1">Valider</ion-select-option>
            <ion-select-option value="0">Rejeter</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
