@import "../modules.scss/variables.scss";

.item_btn {
  @include btn-item-option-mixin(60px, 2px, 10px, 20%);
}
.item_icon {
  font-size: 25px;
  color: $color-dark;
  margin-left: 10px;
  margin-right: 10px;
}
