@import "../../modules.scss/lists.user.scss";

.blc-select-type,
.list-select-piece {
  margin-top: 10px;
  @include card-bg-mixin;
}
ion-card-title {
  .row {
    .col-12 {
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  }
}
ion-button {
  @include btn-mixin;
}
ion-checkbox {
  --size: 32px;
  --background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}
.tog-select-piece {
  margin-bottom: -15px;
}
.col-btn-next {
  justify-content: right;
  ion-button {
    font-size: 15px;
    float: right;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
}
.end {
  font-size: 15px;
  float: right;
  text-transform: capitalize;
}
