<ion-header>
  <ion-toolbar>
    <ion-title>Admins</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>

    <ion-button
      slot="end"
      (click)="onNav(whereNav.addEntitie,routesNames.adminsAdd)"
      fill="outline"
    >
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--                                 STATE                                  -->

  <div *ngIf="dataState$|async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>
  <!--                                 LOADDING                                  -->
  <app-cmp-loading-list [dataState]="dataState$|async"></app-cmp-loading-list>

  <!--                                 LIST                                  -->

  <ion-list lines="inset" *ngIf="admins">
    <ion-item-sliding *ngFor="let admin of admins">
      <!-- *************************************** -->
      <ion-item
        (click)="onNav(whereNav.ressourcesEntitie,routesNames.adminsInfo,admin.id)"
      >
        <main class="user">
          <article class="user__profile">
            <ion-icon class="user__picture" name="person-outline"></ion-icon>

            <span class="user__name">{{admin.prenom}} {{admin.nom}} </span>
          </article>
        </main>
      </ion-item>
      <!-- *************************************** -->
      <ion-item-options side="end">
        <button class="item_btn" (click)="onDeleteAdmin(admin.id)">
          <ion-icon class="item_icon" name="trash-outline"></ion-icon>
        </button>
        <button
          class="item_btn"
          (click)="onNav(whereNav.updEntitie,routesNames.adminsUpd,admin.id)"
        >
          <ion-icon class="item_icon" name="brush-outline"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="start">
        <button
          class="item_btn"
          (click)="onNav(whereNav.ressourcesEntitie,routesNames.adminsEmployers,admin.id)"
        >
          <ion-icon class="item_icon" name="people-outline"></ion-icon>
        </button>
        <button
          class="item_btn"
          (click)="onNav(whereNav.ressourcesEntitie,routesNames.adminsCmtBloquer,admin.id)"
        >
          <ion-icon class="item_icon" name="lock-closed-outline"></ion-icon>
        </button>

        <button
          class="item_btn"
          (click)="onNav(whereNav.ressourcesEntitie,routesNames.adminsFacDepDmd,admin.id)"
        >
          <ion-icon class="item_icon" name="newspaper-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>

    <ion-searchbar
      placeholder="rechercher par prénom"
      [debounce]="600"
      (ionChange)="handleChange($event)"
    ></ion-searchbar>

    <ion-icon
      class="scroll"
      slot="end"
      name="arrow-up-outline"
      (click)="scrollToTop()"
    ></ion-icon>
  </ion-toolbar>
</ion-footer>
