<ion-header>
  <ion-toolbar>
    <ion-title>Compte Bloquer</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>

    <ion-button
      slot="end"
      (click)="onNav(whereNav.addEntitie,routesNames.cmpBloquesAdd)"
      fill="outline"
    >
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--                                 STATE                                  -->

  <div *ngIf="dataState$|async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>
  <!--                                 LOADDING                                  -->
  <app-cmp-loading-list [dataState]="dataState$|async"></app-cmp-loading-list>

  <!--                                 LISTE                                  -->
  <div
    *ngIf="cmpBloques && dataState$ | async as dataState"
    class="container mt-2"
  >
    <div
      class="alert alert-info"
      *ngIf="cmpBloques.length === 0 && dataState === appStateEnum.loaded"
    >
      <strong>Pas de compte bloqué ...</strong>
    </div>
  </div>
  <ion-list lines="none" *ngIf="cmpBloques">
    <ion-item-sliding *ngFor="let cmpBloque of cmpBloques">
      <!-- *************************************** -->
      <ion-item
        (click)="onNav(whereNav.ressourcesEntitie ,routesNames.cmpBloquesInfo,cmpBloque.id)"
      >
        <main class="user">
          <article class="user__profile">
            <ion-icon
              class="user__picture"
              name="lock-closed-outline"
            ></ion-icon>

            <span class="user__name">{{cmpBloque.email}} </span>
          </article>
        </main>
      </ion-item>
      <!-- *************************************** -->
      <ion-item-options side="end">
        <button class="item_btn" (click)="onDeleteCmtBloquer(cmpBloque.id)">
          <ion-icon class="item_icon" name="trash-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>

    <ion-searchbar
      placeholder="rechercher par email"
      [debounce]="600"
      (ionChange)="handleChange($event)"
    ></ion-searchbar>

    <ion-icon
      class="scroll"
      slot="end"
      name="arrow-up-outline"
      (click)="scrollToTop()"
    ></ion-icon>
  </ion-toolbar>
</ion-footer>
