<ion-header>
  <ion-toolbar>
    <ion-title>employers</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>

    <ion-button
      slot="end"
      (click)="onNav(whereNav.addEntitie,routesNames.employersAdd)"
      fill="outline"
    >
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--                                 STATE                                  -->

  <div *ngIf="dataState$|async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>
  <!--                                 LOADDING                                  -->
  <app-cmp-loading-list [dataState]="dataState$|async"></app-cmp-loading-list>

  <!--                                 LIST                                  -->
  <div
    *ngIf="employes && dataState$ | async as dataState"
    class="container mt-2"
  >
    <div
      class="alert alert-info"
      *ngIf="employes.length === 0 && dataState === appStateEnum.loaded"
    >
      <strong>Pas d'employé ...</strong>
    </div>
  </div>
  <ion-list lines="none" *ngIf="employes">
    <ion-item-sliding *ngFor="let employer of employes">
      <!-- *************************************** -->
      <ion-item
        (click)="onNav(whereNav.ressourcesEntitie,routesNames.employersInfo,employer.id)"
      >
        <main class="user">
          <article class="user__profile">
            <ion-icon class="user__picture" name="person-outline"></ion-icon>

            <span class="user__name"
              >{{employer.prenom}} {{employer.nom}}
            </span>
          </article>
        </main>
      </ion-item>
      <!-- *************************************** -->
      <ion-item-options side="end">
        <button
          class="item_btn"
          (click)="onDeleteEmploye(employer.id)"
          ion-button
          color="primary"
        >
          <ion-icon class="item_icon" name="trash-outline"></ion-icon>
        </button>
        <button
          class="item_btn"
          (click)="onNav(whereNav.updEntitie,routesNames.employersUpd,employer.id)"
          ion-button
          color="secondary"
        >
          <ion-icon class="item_icon" name="pencil-outline"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="start">
        <button
          class="item_btn"
          (click)="onNav(whereNav.ressourcesEntitie,routesNames.employersClients,employer.id)"
          ion-button
          color="primary"
        >
          <ion-icon class="item_icon" name="person-outline"></ion-icon>
        </button>
        <button
          class="item_btn"
          (click)="onNav(whereNav.ressourcesEntitie,routesNames.employersLinges,employer.id)"
          ion-button
          color="primary"
        >
          <ion-icon class="item_icon" name="shirt-outline"></ion-icon>
        </button>
        <button
          class="item_btn"
          (click)="onNav(whereNav.ressourcesEntitie,routesNames.employersDmdDepense,employer.id)"
          ion-button
          color="primary"
        >
          <ion-icon class="item_icon" name="reader-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>

    <ion-searchbar
      placeholder="rechercher par prénom"
      [debounce]="600"
      (ionChange)="handleChange($event)"
    ></ion-searchbar>

    <ion-icon
      class="scroll"
      slot="end"
      name="arrow-up-outline"
      (click)="scrollToTop()"
    ></ion-icon>
  </ion-toolbar>
</ion-footer>
