<ion-header>
  <ion-toolbar>
    <ion-title>Details Linge</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <!-- --------------------------------SECTION STATE APP----------------------------------- -->
    <div *ngIf="dataState$ | async as dataState" class="container">
      <app-cmp-state-app
        [dataState]="dataState"
        [notification]="notification$ | async"
        [errorMessage]="errorMessage$ | async"
      ></app-cmp-state-app>
    </div>
    <!-- --------------------------------SECTION CARD FACTURE-------------------------- -->
    <app-cmp-loading-info-user
      [dataState]="dataState$ | async"
    ></app-cmp-loading-info-user>
    <ion-card *ngIf="linge$ | async as linge">
      <ion-card-header>
        <div class="container">
          <ion-avatar>
            <ion-icon class="item_icon" name="shirt-outline"></ion-icon>
          </ion-avatar>
          <ion-card-title>
            Linge : {{ linge.createdAt | date : "shortDate" }}
          </ion-card-title>
          <ion-button
            fill="clear"
            size="small"
            (click)="
              onNav(whereNav.updEntitie, routesNames.lingesUpd, linge.id)
            "
            ><p>modifier</p>
            <ion-icon slot="end" name="pencil-outline"></ion-icon
          ></ion-button>
        </div>
      </ion-card-header>

      <ion-card-content>
        <hr />
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Type </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ linge.Type_linge?.nom }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Montant </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ linge.prixLinge }} Fcfa</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Montant Avance </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ linge.montantAvance }} Fcfa</p>
          </div>
        </div>
        <!--  -->
        <div class="row" *ngIf="linge.montantAvance > 0 && !linge.payer">
          <div class="atribut col-6">
            <b>Montant restant </b>
          </div>
          <div class="col-6">
            <p class="card-text">
              {{ linge.prixLinge - linge.montantAvance }} Fcfa
            </p>
          </div>
        </div>

        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Payer </b>
          </div>
          <div class="col-6">
            <span *ngIf="linge.payer"> Oui</span
            ><span *ngIf="!linge.payer"> Non</span>
          </div>
        </div>

        <!--                      DETAILS DU LINGE                         -->
        <hr />
        <div class="row">
          <div class="col-title col-12">
            <h4>Détails du type de linge</h4>
          </div>
        </div>

        <!--                      DETAILS TYPE KILO                         -->

        <div class="mt-2" *ngIf="linge.Type_linge?.nom === enumTypeLinge.kilo">
          <div class="card">
            <ion-card>
              <!--  -->
              <div class="row">
                <div class="atribut col-6">
                  <b>Prix linge</b>
                </div>
                <div class="col-6">
                  <p class="card-text">
                    {{ linge.Detail_type_kilo?.prixLinge }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="atribut col-6">
                  <b>Prix repassage</b>
                </div>
                <div class="col-6">
                  <p class="card-text">
                    {{ linge.Detail_type_kilo?.prixRepassage }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="atribut col-6">
                  <b>Nombre de kilo</b>
                </div>
                <div class="col-6">
                  <p class="card-text">{{ linge.Detail_type_kilo?.nbrKilo }}</p>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

        <!--  -->
        <!--                      DETAILS TYPE PIECE                         -->

        <div *ngIf="linge.Detail_type_pieces">
          <div
            class="card"
            *ngFor="let detailsPiece of linge.Detail_type_pieces"
          >
            <ion-card>
              <div class="row">
                <div class="atribut col-6">
                  <b>Nom de piece </b>
                </div>
                <div class="col-6">
                  <p class="card-text">{{ detailsPiece.nom }}</p>
                </div>
              </div>
              <div class="row">
                <div class="atribut col-6">
                  <b>Nombre de piece </b>
                </div>
                <div class="col-6">
                  <p class="card-text">{{ detailsPiece.nbrPiece }} piece(s)</p>
                </div>
              </div>
              <div class="row">
                <div class="atribut col-6">
                  <b>Prix</b>
                </div>
                <div class="col-6">
                  <p class="card-text">{{ detailsPiece.prixLinge }} Fcfa</p>
                </div>
              </div>
              <div class="row">
                <div class="atribut col-6">
                  <b>Prix repassage </b>
                </div>
                <div class="col-6">
                  <p class="card-text">{{ detailsPiece.prixRepassage }} Fcfa</p>
                </div>
              </div>
              <div class="row">
                <div class="atribut col-6">
                  <b>A repasser</b>
                </div>
                <div class="col-6">
                  <p class="card-text">
                    <span *ngIf="detailsPiece.aRepasser"> Oui</span
                    ><span *ngIf="!detailsPiece.aRepasser"> Non</span>
                  </p>
                </div>
              </div>
            </ion-card>
          </div>
        </div>

        <!--                      DETAILS DU CLIENT                         -->
        <hr />
        <div class="row">
          <div class="col-title col-12">
            <h4>Détails client</h4>
          </div>
          <div class="row">
            <div class="atribut col-6">
              <b>Nom</b>
            </div>
            <div class="col-6">
              <p class="card-text">{{ linge.Client.nom }}</p>
            </div>
          </div>
          <div class="row">
            <div class="atribut col-6">
              <b>Numero</b>
            </div>
            <div class="col-6">
              <p class="card-text">{{ linge.Client.numero }}</p>
            </div>
          </div>
          <div class="row">
            <div class="atribut col-6">
              <b>Address</b>
            </div>
            <div class="col-6">
              <p class="card-text">{{ linge.Client.adresse }}</p>
            </div>
          </div>
        </div>

        <!--                      DETAILS DU EMPLOYER                         -->
        <hr />
        <div class="row">
          <div class="col-title col-12">
            <h4>Détails Employer</h4>
          </div>
          <div class="row">
            <div class="atribut col-6">
              <b>Nom </b>
            </div>
            <div class="col-6">
              <p class="card-text">{{ linge.Employe.nom }}</p>
            </div>
          </div>
          <div class="row">
            <div class="atribut col-6">
              <b>Numero</b>
            </div>
            <div class="col-6">
              <p class="card-text">{{ linge.Employe.numero }}</p>
            </div>
          </div>
          <div class="row">
            <div class="atribut col-6">
              <b>Address</b>
            </div>
            <div class="col-6">
              <p class="card-text">{{ linge.Employe.adresse }}</p>
            </div>
          </div>
          <div class="row">
            <div class="atribut col-6">
              <b>Email</b>
            </div>
            <div class="col-6">
              <p class="card-text">{{ linge.Employe.email }}</p>
            </div>
          </div>
        </div>
        <hr />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
