@import "../../modules.scss/card.user.scss";

.row {
  .col-title {
    h4 {
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}

ion-card {
  padding: 10px;
}
