<div *ngIf="dataState === dataStateEnum.loading">
  <ion-card *ngFor="let card of cardsLoading">
    <ion-card-content>
      <ion-card-title>
        <p class="mt-2">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
      </ion-card-title>
      <hr />
      <p class="mt-2">
        <ion-skeleton-text
          [animated]="true"
          style="width: 50%"
        ></ion-skeleton-text>
      </p>
      <p class="mt-2">
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </p>
      <p class="mt-2">
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </p>
    </ion-card-content>
  </ion-card>
</div>
