<!-- --------------------------------SECTION LOAD USER----------------------------------- -->
<div  *ngIf="dataState === dataStateEnum.loading" class="container-fluid">
  <ion-card>
    <ion-card-header>
      <div class="container">
        <ion-avatar>
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </ion-avatar>
        <ion-card-title style="width: 100px">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text
        ></ion-card-title>
        <ion-button style="width: 100px" class="mt-2" fill="clear" size="small">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </ion-button>
      </div>

      <!--  -->
      <div class="container-res">
        <div class="row">
          <div class="col-res col-12">
            <ion-button style="width: 100px" fill="clear" size="small">
              <ion-skeleton-text
                class="skeleton"
                [animated]="true"
                style="width: 100%"
              ></ion-skeleton-text>
            </ion-button>
          </div>
        </div>
        <div class="row">
          <div class="col-res col-12">
            <ion-button style="width: 100px" fill="clear" size="small">
              <ion-skeleton-text
                class="skeleton"
                [animated]="true"
                style="width: 100%"
              ></ion-skeleton-text>
            </ion-button>
          </div>
        </div>
        <div class="row">
          <div class="col-res col-12">
            <ion-button style="width: 100px" fill="clear" size="small">
              <ion-skeleton-text
                class="skeleton"
                [animated]="true"
                style="width: 100%"
              ></ion-skeleton-text>
            </ion-button>
          </div>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content>
      <hr />
      <!--  -->
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>
      <!--  -->
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>
      <!--  -->
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>
      <!--  -->
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>
      <!--  -->
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>

      <hr />
      <!--  -->
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>
      <div class="row">
        <div class="atribut col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </div>
        <div class="col-6">
          <ion-skeleton-text
            class="skeleton"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
