<ion-header>
  <ion-toolbar>
    <ion-row *ngIf="admin$ | async as admin">
      <ion-col>
        <ion-title> {{ admin.prenom }} {{ admin.nom }}</ion-title>
      </ion-col>
    </ion-row>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <!--                                 LISTE                                  -->

  <ion-list lines="none" *ngIf="admin$ | async as admin">
    <div *ngIf="dataState$ | async as dataState" class="container mt-2">
      <div
        class="alert alert-info"
        *ngIf="
          admin.Compte_bloquers.length === 0 &&
          dataState === appStateEnum.loaded
        "
      >
        <strong>Cet administrateur n'a bloqué aucun compte ...</strong>
      </div>
    </div>
    <ion-item-sliding *ngFor="let cmpBloque of admin.Compte_bloquers">
      <!-- *************************************** -->
      <ion-item>
        <main class="user">
          <article class="user__profile">
            <ion-icon
              class="user__picture"
              name="lock-closed-outline"
            ></ion-icon>

            <span class="user__name">{{ cmpBloque.email }} </span>
          </article>
        </main>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
