<ion-header>
  <ion-toolbar>
    <ion-title>{{ infoPiece?.nom }}</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <!--                                 STATE                                  -->
    <div *ngIf="dataState$ | async as dataState" class="container">
      <app-cmp-state-app
        [dataState]="dataState"
        [notification]="notification$ | async"
        [errorMessage]="errorMessage$ | async"
      ></app-cmp-state-app>
    </div>
    <!--                                 LISTE                                  -->

    <ion-card>
      <ion-card-header>
        <div class="container">
          <ion-avatar>
            <ion-icon name="settings-outline"></ion-icon>
          </ion-avatar>
          <ion-card-title>
            {{ infoPiece.createdAt | date : "shortDate" }}
          </ion-card-title>

          <ion-button
            *ngIf="!updated"
            class="mt-2"
            fill="clear"
            size="small"
            (click)="onUpd()"
            ><p>Modifier</p>
            <ion-icon slot="end" name="pencil-outline"></ion-icon
          ></ion-button>
          <ion-button
            *ngIf="updated"
            class="mt-2"
            fill="clear"
            size="small"
            (click)="onUpd()"
            ><p>Fermer</p>
          </ion-button>
          <ion-button
            *ngIf="updated"
            fill="clear"
            size="small"
            (click)="onSave()"
            ><p>Enregistrer</p></ion-button
          >
        </div>
      </ion-card-header>

      <ion-card-content>
        <hr />
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Modifier le</b>
          </div>
          <div class="atribut col-6">
            <p class="card-text">
              {{ infoPiece.updatedAt | date : "shortDate" }}
            </p>
          </div>
        </div>
        <hr />
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b> Prix linge </b>
          </div>
          <div class="atribut col-6">
            <p class="card-text">{{ infoPiece.prixLinge }} Fcfa</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Prix repassage </b>
          </div>
          <div class="atribut col-6">
            <p class="card-text">{{ infoPiece.prixRepassage }} Fcfa</p>
          </div>
        </div>
        <hr />
        <!--  -->

        <div class="container" *ngIf="updated">
          <ion-card class="card-conf">
            <div class="row">
              <div class="col-6">Prix linge</div>
              <div class="col-6">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="prixLingeUpd"
                />
              </div>
            </div>
            <div  class="row">
              <div class="col-6">Prix repassage</div>
              <div class="col-6">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="prixRepassageUpd"
                />
              </div>
            </div>
          </ion-card>
        </div>
        <hr />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
