<ion-header>
  <ion-toolbar>
    <ion-title>Details Admin</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content
  ><div class="container-fluid">
    <!-- --------------------------------SECTION STATE APP----------------------------------- -->
    <div *ngIf="dataState$ | async as dataState" class="container">
      <app-cmp-state-app
        [dataState]="dataState"
        [notification]="notification$ | async"
        [errorMessage]="errorMessage$ | async"
      ></app-cmp-state-app>
    </div>

    <!-- --------------------------------SECTION CARD ADMIN----------------------------------- -->

    <ion-card *ngIf="admin$ | async as admin">
      <ion-card-header>
        <div class="container">
          <ion-avatar>
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-avatar>
          <ion-card-title> {{ admin.prenom }} {{ admin.nom }} </ion-card-title>
          <ion-button
            class="mt-2"
            fill="clear"
            size="small"
            (click)="
              onNav(whereNav.updEntitie, routesNames.adminsUpd, admin.id)
            "
            ><p>Modifier</p>
            <ion-icon slot="end" name="pencil-outline"></ion-icon
          ></ion-button>
        </div>

        <!--  -->
        <div class="container-res">
          <div class="row">
            <div class="col-res col-12">
              <ion-button
                fill="clear"
                size="small"
                (click)="
                  onNav(
                    whereNav.ressourcesEntitie,
                    routesNames.adminsEmployers,
                    admin.id
                  )
                "
              >
                <ion-icon class="item_icon" name="people-outline"></ion-icon>
                <p>Employé(s)</p>
              </ion-button>
            </div>
          </div>
          <div class="row">
            <div class="col-res col-12">
              <ion-button
                fill="clear"
                size="small"
                (click)="
                  onNav(
                    whereNav.ressourcesEntitie,
                    routesNames.adminsFacDepDmd,
                    admin.id
                  )
                "
              >
                <ion-icon class="item_icon" name="newspaper-outline"></ion-icon>
                <p>Demande(s) dépense(s) & Facture(s)</p>
              </ion-button>
            </div>
          </div>
          <div class="row">
            <div class="col-res col-12">
              <ion-button
                fill="clear"
                size="small"
                (click)="
                  onNav(
                    whereNav.ressourcesEntitie,
                    routesNames.adminsCmtBloquer,
                    admin.id
                  )
                "
              >
                <ion-icon
                  class="item_icon"
                  name="lock-closed-outline"
                ></ion-icon>

                <p>Compte(s) bloqué(s)</p>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <hr />
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Email </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ admin.email }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Numéro </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ admin.numero }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Rôle </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ admin.role }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Enregistré le </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ admin.createdAt | date : "shortDate" }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Dérniere modification </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ admin.updatedAt | date : "shortDate" }}</p>
          </div>
        </div>

        <hr />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
