<ion-app>
  <ion-menu type="reveal" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>P7-Pressing-App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="none" class="nav">
        <!-- **********MENU CONNEXION********** -->
        <ion-item
          style="color: white; width: 100%"
          routerLink="{{ routesNames.home }}"
        >
          <ion-icon
            slot="start"
            style="color: white"
            name="enter-outline"
          ></ion-icon>

          <ion-menu-toggle>
            <ion-label>Connexion</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU ACCEUIL********** -->
        <ion-item
          *ngIf="isAdmin"
          style="color: white; width: 100%"
          routerLink="{{ routesNames.etatFinancier }}"
        >
          <ion-icon
            slot="start"
            style="color: white"
            name="home-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Acceuil</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU PROFIL ADM********** -->
        <ion-item
          *ngIf="isAdmin"
          routerLink="{{
            routesNames.admins + '/' + routesNames.adminsInfo + '/' + idUser
          }}"
          style="color: white; width: 100%"
        >
          <ion-icon
            slot="start"
            style="color: white"
            name="person-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Profil</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU PROFIL EMP********** -->
        <ion-item
          *ngIf="!isAdmin"
          routerLink="{{
            routesNames.employers +
              '/' +
              routesNames.employersInfo +
              '/' +
              idUser
          }}"
          style="color: white; width: 100%"
        >
          <ion-icon
            slot="start"
            style="color: white"
            name="person-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Profil</ion-label>
          </ion-menu-toggle>
        </ion-item>

        <!-- **********MENU ADMINS********** -->
        <ion-item
          *ngIf="isAdmin"
          style="color: white"
          routerLink="{{ routesNames.admins }}"
        >
          <ion-icon
            style="color: white"
            slot="start"
            name="people-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Admins</ion-label>
          </ion-menu-toggle></ion-item
        >
        <!-- **********MENU EMPLOYERS********** -->
        <ion-item
          *ngIf="isAdmin"
          style="color: white"
          routerLink="{{ routesNames.employers }}"
        >
          <ion-icon
            style="color: white"
            slot="start"
            name="people-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Employes</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU LINGES********** -->
        <ion-item style="color: white" routerLink="{{ routesNames.linges }}">
          <ion-icon
            slot="start"
            style="color: white"
            name="shirt-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Linges</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU CLIENTS********** -->
        <ion-item style="color: white" routerLink="{{ routesNames.clients }}">
          <ion-icon
            style="color: white"
            slot="start"
            name="people-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Clients</ion-label>
          </ion-menu-toggle></ion-item
        >

        <!-- **********MENU FACTURES********** -->
        <ion-item
          *ngIf="isAdmin"
          style="color: white"
          routerLink="{{ routesNames.factures }}"
        >
          <ion-icon
            style="color: white"
            slot="start"
            name="reader-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Factures</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU DEMANDES********** -->
        <ion-item
          style="color: white"
          routerLink="{{ routesNames.dmdDepenses }}"
        >
          <ion-icon
            style="color: white"
            slot="start"
            name="newspaper-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Demandes</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU COMPTE BLOQUE********** -->
        <ion-item
          *ngIf="isAdmin"
          style="color: white"
          routerLink="{{ routesNames.cmpBloques }}"
        >
          <ion-icon
            style="color: white"
            slot="start"
            name="lock-closed-outline"
          ></ion-icon>
          <ion-menu-toggle>
            <ion-label>Comptes Bloqués</ion-label>
          </ion-menu-toggle>
        </ion-item>
        <!-- **********MENU PARAMETRE********** -->
        <ion-item
          *ngIf="isAdmin"
          style="color: white"
          routerLink="{{ routesNames.parametres }}"
        >
          <ion-icon
            style="color: white"
            slot="start"
            name="settings-outline"
          ></ion-icon>

          <ion-menu-toggle>
            <ion-label>Configurations</ion-label>
          </ion-menu-toggle>
        </ion-item>

        <!-- **********MENU DECONNECTER********** -->
        <ion-item style="color: white" (click)="logOut()">
          <ion-icon
            slot="start"
            style="color: white"
            name="exit-outline"
          ></ion-icon>
          <ion-menu-toggle class="mt-4">
            <ion-label>Déconnecter</ion-label>
          </ion-menu-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
