@import "../modules.scss/variables.scss";

.user {
  width: 100%;
  background-color: $color-light;
  border-radius: 0 0 12px 12px;
  padding: 2px 5px 10px;
  display: grid;
  height: 70px;
  max-height: 70px;

  &__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 5px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(51, 51, 51, 0.23);
    background-color: $color-light;
  }

  &__picture {
    color: $color-dark;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #f3f4f6, 0 0 0 22px $color-light-black;
  }

  &__name {
    color: $color-dark;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.54px;
    margin-left: 40px;
    text-transform: uppercase;
  }

  &__value {
    color: $color-light-black;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
  }
}

.item_btn {
  @include btn-item-option-mixin(22px, 2px, 5px);
}
.item_icon {
  font-size: 25px;
  color: $color-dark;
  margin-left: 10px;
  margin-right: 10px;
}
ion-item {
  --border-style: none;
}
ion-searchbar {
  --border-radius: 20px;
  --color: #000000;
  height: 5px;
}
.scroll {
  font-size: 22px;
  padding-right: 15px;
  padding-left: 15px;
}
.scroll :hover {
  cursor: pointer;
}
