<ion-header>
  <ion-toolbar>
    <ion-row *ngIf="admin$ | async as admin">
      <ion-col>
        <ion-title>{{ admin.prenom }} {{ admin.nom }}</ion-title>
      </ion-col>
    </ion-row>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <!-- --------------------------------SECTION CARD DMDDEPENSE----------------------------------- -->

  <div class="container" *ngIf="admin$ | async as admin">
    <!--                          DMD DEPENSES                          -->
    <div class="container" *ngIf="demande">
      <app-cmp-dmd-depense
        *ngFor="let dmdDepense of admin.Demande_depenses"
        [dmdDepense]="dmdDepense"
      ></app-cmp-dmd-depense>
    </div>
    <!--                           DEPENSES                           -->

    <div class="container" *ngIf="depense">
      <app-cmp-dmd-depense
        *ngFor="let dmdDepense of depenses"
        [dmdDepense]="dmdDepense"
      ></app-cmp-dmd-depense>
    </div>

    <!--                          FACTURES                           -->
    <div class="container" *ngIf="facture">
      <app-cmp-facture
        *ngFor="let facture of admin.Factures"
        [factureCreatedAt]="facture.createdAt"
        [factureType]="facture.type"
        [factureMontant]="facture.montant"
      ></app-cmp-facture>
    </div>
  </div>
</ion-content>

<ion-footer [translucent]="true" *ngIf="admin$ | async as admin">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
    <ion-segment value="factures">
      <ion-segment-button (click)="onSegement('fac')" value="factures">
        <ion-label>Factures</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="onSegement('dmd')" value="demande">
        <ion-label>Demandes</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="onSegement('dep')" value="depense">
        <ion-label>Depenses</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
