@import "../modules.scss/modules.scss";

.client {
  width: 100%;
  border-radius: 12px;

  &__profiles {
    background-color: $color-light;
    border-radius: 0 0 12px 12px;
    padding: 10px 5px 10px;
    display: grid;
  }

  &__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 10px 5px rgba(51, 51, 51, 0.23);
    background-color: $color-light;
  }

  &__picture {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #f3f4f6, 0 0 0 22px $color-primary;
  }

  &__name {
    color: $color-dark;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 40px;
  }

  &__value {
    color: $color-primary;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
  }
}

// bare minimuu styles

body {
  margin: 0;
  background-color: #eaeaea;
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.client {
  box-shadow: 10px 0 40px -10px rgba(0, 0, 0, 0.8);
}
