ion-button {
  --border-radius: 40%;
}
ion-skeleton-text {
  --border-radius: 9999px;
  --background: #2e2b2b;
  --background-rgb: 0, 0, 50;
}
ion-searchbar {
  --border-radius: 20px;
  --color: #000000;
  height: 5px;
}
.scroll {
  font-size: 25px;
  padding-right: 8px;
}

