<ion-header>
  <ion-toolbar>
    <ion-title>Form Admin</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <!-- --------------------------------SECTION FORM EMPLOYER----------------------------------- -->

  <form [formGroup]="formAdmin" (ngSubmit)="submitForm()" novalidate>
    <!--                               INPUT NOM                                            -->
    <ion-item class="m-3" fill="solid" counter="true">
      <ion-label position="floating">Nom</ion-label>
      <ion-input maxlength="20" type="text" formControlName="nom"></ion-input>
      <ion-note slot="helper">Entrez votre nom</ion-note>
      <ion-note slot="error">Nom invalid</ion-note>
    </ion-item>
    <!--                               INPUT PRENOM                                            -->
    <ion-item class="m-3" fill="solid" counter="true">
      <ion-label position="floating">Prénom</ion-label>
      <ion-input
        maxlength="35"
        type="text"
        formControlName="prenom"
      ></ion-input>
      <ion-note slot="helper">Entrez votre prenom</ion-note>
      <ion-note slot="error">Prénon invalid</ion-note>
    </ion-item>

    <!--                               INPUT Email                                            -->
    <ion-item class="m-3" fill="solid" counter="true">
      <ion-label position="floating">Email</ion-label>
      <ion-input maxlength="50" type="text" formControlName="email"></ion-input>
      <ion-note slot="helper">Entrez votre email</ion-note>
      <ion-note slot="error">Email invalid</ion-note>
    </ion-item>

    <!--                               INPUT NUMERO                                            -->
    <ion-item class="m-3" fill="solid" counter="true">
      <ion-label position="floating">Numéro</ion-label>
      <ion-input maxlength="9" type="text" formControlName="numero"></ion-input>
      <ion-note slot="helper">Entrez votre numéro</ion-note>
      <ion-note slot="error">Numéro invalid</ion-note>
    </ion-item>
    <!--                               INPUT MDP                                            -->
    <ion-item class="m-3" fill="solid" counter="true">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input maxlength="25" type="text" formControlName="mdp"></ion-input>
      <ion-note slot="helper">Entrez votre mot de passe</ion-note>
      <ion-note slot="error">Mot de passe invalid</ion-note>
    </ion-item>

    <!--                               BTN SAVE                                              -->

    <ion-row>
      <ion-col>
        <ion-button fill="outline" [disabled]="formAdmin.invalid" type="submit"
          >Enregistrer</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
