<ion-card>
  <ion-card-content>
    <ion-card-title>
      <b>Date :</b> {{ factureCreatedAt | date : "shortDate" }}
    </ion-card-title>
    <hr />
    <div class="row mt-1">
      <div class="col-6">
        <b>Type </b>
      </div>
      <div class="col-6">
        <p class="card-text">{{ factureType }}</p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <b>Montant </b>
      </div>
      <div class="col-6">
        <p class="card-text">{{ factureMontant }} Fcfa</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
