<ion-header>
  <ion-toolbar>
    <ion-title>Details Compte</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <!-- --------------------------------SECTION STATE APP----------------------------------- -->
    <div *ngIf="dataState$ | async as dataState" class="container">
      <app-cmp-state-app
        [dataState]="dataState"
        [notification]="notification$ | async"
        [errorMessage]="errorMessage$ | async"
      ></app-cmp-state-app>
    </div>

    <!-- --------------------------------SECTION CARD COMPTE----------------------------------- -->
    <app-cmp-loading-info-user
      [dataState]="dataState$ | async"
    ></app-cmp-loading-info-user>
    <ion-card *ngIf="cmpBloques$ | async as cmpBloque">
      <ion-card-header>
        <div class="container">
          <ion-avatar>
            <ion-icon class="item_icon" name="lock-closed-outline"></ion-icon>
          </ion-avatar>
          <ion-card-title>
            {{ cmpBloque.createdAt | date : "shortDate" }}
          </ion-card-title>
          <ion-button
            class="mt-2"
            fill="clear"
            size="small"
            (click)="onDeleteCmtBloquer(cmpBloque.id)"
            ><p>Débloquer</p>
          </ion-button>
        </div>
      </ion-card-header>

      <ion-card-content>
        <hr />
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Email </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ cmpBloque.email }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Par Administrateur </b>
          </div>
          <div class="col-6">
            <p class="card-text">
              <span *ngIf="cmpBloque.byAdmin">Oui</span>
              <span *ngIf="!cmpBloque.byAdmin">Non</span>
            </p>
          </div>
        </div>
        <!--  -->
        <hr />
        <!--  -->
        <div class="row">
          <div class="col-title col-12">
            <h4>Détails Employé</h4>
          </div>
        </div>
        <div class="row">
          <div class="atribut col-6">
            <b>Employé </b>
          </div>
          <div class="col-6">
            <p class="card-text">
              {{ cmpBloque.Employe?.prenom }} {{ cmpBloque.Employe?.nom }}
            </p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Numero Employé </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ cmpBloque.Employe?.numero }}</p>
          </div>
        </div>
        <hr />
        <!--  -->
        <div class="row">
          <div class="col-title col-12">
            <h4>Détails Admin</h4>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b> Admin </b>
          </div>
          <div class="col-6">
            <p class="card-text">
              {{ cmpBloque.Admin?.prenom }} {{ cmpBloque.Admin?.nom }}
            </p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Numero admin </b>
          </div>
          <div class="col-6">
            <p class="card-text">
              {{ cmpBloque.Admin?.numero }}
            </p>
          </div>
        </div>
        <hr />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
