<ion-header>
  <ion-toolbar>
    <ion-title>Parametres</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--                                 LISTE                                  -->

  <ion-list lines="inset">
    <ion-item-sliding class="mt-1">
      <!-- *************************************** -->
      <ion-item (click)="onNav(routesNames.typesLinges)">
        <main class="user">
          <article class="user__profile">
            <ion-icon class="user__picture" name="settings-outline"></ion-icon>

            <span class="user__name">Types de linges </span>
          </article>
        </main>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding class="mt-1">
      <!-- *********************                         ****************** -->
      <ion-item (click)="onNav(routesNames.infosKilo)">
        <main class="user">
          <article class="user__profile">
            <ion-icon class="user__picture" name="settings-outline"></ion-icon>
            <span class="user__name">Infos kilo</span>
          </article>
        </main>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding class="mt-1">
      <!-- *********************                         ****************** -->
      <ion-item (click)="onNav(routesNames.infosPieces)">
        <main class="user">
          <article class="user__profile">
            <ion-icon class="user__picture" name="settings-outline"></ion-icon>

            <span class="user__name">Infos Pieces</span>
          </article>
        </main>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
