<ion-header>
  <ion-toolbar>
    <ion-row *ngIf="client$ | async as client">
      <ion-col>
        <ion-title
          >{{ client.prenom }} {{ client.nom }} etienne clement</ion-title
        >
      </ion-col>
    </ion-row>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <!-- --------------------------------SECTION CARD CLIENT----------------------------------- -->

  <div class="container" *ngIf="client$ | async as client">
    <app-cmp-linges [linges]="client.Linges"> </app-cmp-linges>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
