<ion-header>
  <ion-toolbar>
    <ion-title>Demande</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>

    <ion-button
      slot="end"
      (click)="onNav(whereNav.addEntitie,routesNames.dmdDepensesAdd)"
      fill="outline"
    >
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--                                 STATE                                  -->

  <div *ngIf="dataState$|async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>
  <!--                                 LOADDING                                  -->
  <app-cmp-loading-card [dataState]="dataState$|async"></app-cmp-loading-card>
  <!--                                 LIST DEMANDE                                 -->

  <h1>Demande</h1>
  <ion-list lines="inset" *ngIf="dmdDepenses">
    <ion-item-sliding class="mt-4" *ngFor="let demande of dmdDepenses">
      <!-- *************************************** -->
      <ion-item
        (click)="onNav(whereNav.ressourcesEntitie,routesNames.dmdDepensesInfo,demande.id)"
      >
        <app-cmp-dmd-depense
          *ngIf="demande"
          [dmdDepense]="demande"
        ></app-cmp-dmd-depense>
      </ion-item>
      <!-- *************************************** -->
      <ion-item-options side="end">
        <button
          (click)="onDeleteDemandeDepense(demande.id)"
          ion-button
          color="primary"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </button>
        <button
          (click)="onNav(whereNav.updEntitie,routesNames.dmdDepensesUpd ,demande.id)"
          ion-button
          color="secondary"
        >
          <ion-icon name="brush-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
    <ion-item>
      <ion-label
        >Filtre demandes :
        <span *ngIf="dmdDepenses">{{dmdDepenses.length}}</span>
      </ion-label>
      <ion-select
        (ionChange)="onFilter($event)"
        value="all"
        [interfaceOptions]="customActionSheetOptions"
        interface="action-sheet"
        placeholder="Selectionner par etat"
      >
        <ion-select-option value="all">Totale</ion-select-option>
        <ion-select-option value="x">Pas d'avis</ion-select-option>
        <ion-select-option value="1">Valider</ion-select-option>
        <ion-select-option value="0">Rejeter</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-icon
      class="scroll"
      slot="end"
      name="arrow-up-outline"
      (click)="scrollToTop()"
    ></ion-icon>
  </ion-toolbar>
</ion-footer>
