<ion-header>
  <ion-toolbar>
    <ion-title>Détails Client</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <!-- --------------------------------SECTION STATE APP----------------------------------- -->
    <div *ngIf="dataState$ | async as dataState" class="container">
      <app-cmp-state-app
        [dataState]="dataState"
        [notification]="notification$ | async"
        [errorMessage]="errorMessage$ | async"
      ></app-cmp-state-app>
    </div>
    <!-- --------------------------------SECTION CARD CLIENT----------------------------------- -->

    <ion-card *ngIf="client$ | async as client">
      <ion-card-header>
        <div class="container">
          <ion-avatar>
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-avatar>
          <ion-card-title>
            {{ client.prenom }} {{ client.nom }}
          </ion-card-title>
          <ion-button
            fill="clear"
            size="small"
            (click)="
              onNav(whereNav.updEntitie, routesNames.clientsUpd, client.id)
            "
            ><p>modifier</p>
            <ion-icon slot="end" name="pencil-outline"></ion-icon
          ></ion-button>
        </div>
        <div class="container-res">
          <div class="row">
            <div class="col-res col-12">
              <ion-button
                fill="clear"
                size="small"
                (click)="
                  onNav(
                    whereNav.ressourcesEntitie,
                    routesNames.clientsLinges,
                    client.id
                  )
                "
              >
                <ion-icon class="item_icon" name="shirt-outline"></ion-icon>
                <p>linge(s)</p>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <hr />
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Adresse </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ client.adresse }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Numéro </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ client.numero }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Nombre de linge </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ client.nbrLinge }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Code fidélité </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ client.codeFidelite }}</p>
          </div>
        </div>

        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Enregistré le </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ client.createdAt | date:  "shortDate" }}</p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Dérniere modification </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ client.updatedAt | date:  "shortDate" }}</p>
          </div>
        </div>

        <hr />
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Client de l'employé </b>
          </div>
          <div class="col-6">
            <p class="card-text">
              {{ client.Employe.prenom }} {{ client.Employe.nom }}
            </p>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="atribut col-6">
            <b>Numéro de l'employé </b>
          </div>
          <div class="col-6">
            <p class="card-text">{{ client.Employe.numero }}</p>
          </div>
        </div>
        <hr />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
