<ion-header>
  <ion-toolbar>
    <ion-title>Details Linge</ion-title>
    <ion-menu-toggle slot="start">
      <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- --------------------------------SECTION STATE APP----------------------------------- -->
  <div *ngIf="dataState$ | async as dataState" class="container-fluid">
    <app-cmp-state-app
      [dataState]="dataState"
      [notification]="notification$ | async"
      [errorMessage]="errorMessage$ | async"
    ></app-cmp-state-app>
  </div>

  <!-- --------------------------------SECTION CARD LINGE----------------------------------- -->

  <ion-card *ngIf="linge">
    <ion-card-header *ngIf="payer && livre">
      <div class="alert alert-success mt-4">
        <strong>Ce linge est payé et livré !</strong>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="!payer || !livre">
      <ion-card-title>
        LINGE {{ linge.createdAt | date : "shortDate" }}
      </ion-card-title>
      <hr />
      <div class="row mt-1">
        <div class="atribut col-6">
          <b>Type </b>
        </div>
        <div class="col-6">
          <p class="card-text">{{ linge.Type_linge?.nom }}</p>
        </div>
      </div>
      <div class="row mt-1">
        <div class="atribut col-6">
          <b>Montant </b>
        </div>
        <div class="col-6">
          <p class="card-text">{{ linge.prixLinge }} Fcfa</p>
        </div>
      </div>
      <div class="row mt-1" *ngIf="!payer">
        <div class="atribut col-6">
          <b>Montant avance </b>
        </div>
        <div class="col-6">
          <p class="card-text">{{ linge.montantAvance }} Fcfa</p>
        </div>
        <div class="col-12">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="montantAvance"
          />
        </div>
      </div>
      <div class="row">
        <div class="atribut col-12">
          <ion-toggle
            class="tog-select-piece"
            (ionChange)="onPayer($event)"
            [enableOnOffLabels]="linge.payer"
          ></ion-toggle>
          Payer
        </div>
      </div>
      <div class="row mt-2" *ngIf="!livre">
        <div class="atribut col-12">
          <ion-toggle
            class="tog-select-piece"
            (ionChange)="onLivrer($event)"
            [enableOnOffLabels]="linge.payer"
          ></ion-toggle>
          Livre
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-12 col-btn">
          <ion-button fill="clear" size="small" (click)="onTerminer()"
            ><p>Valider</p>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      slot="start"
      [defaultHref]="routesNames.home"
    ></ion-back-button>
  </ion-toolbar>
</ion-footer>
